footer {
    background-color: #323232;
    color: #FFFFFF;
    max-width: 100%;
    /* width: 100%; */
    padding: 2em;
}

div.contacts a{
    text-decoration: none;
    color: inherit;
}

div.contacts ul li {
    margin: .5em 0;
}

div.contacts strong {
    margin: -1em;
}

footer p.copyright{
    text-align: center;
}

footer p.developers{
    text-align: center;
    color: antiquewhite;
    margin-top: 2em;
}

footer p.developers a{
    color: inherit;
    text-decoration: none;
}

@media screen and (min-width: 768px){
    div.footer-data-section {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 2em;
        align-items: top;
    }

    div.footer-data-section h2, h3{
        margin: 0;
    }

    div.footer-bottom {
        display: grid;
        grid-template-columns: 3fr 1fr;
        align-items: center;
    }

    div.footer-bottom p{
        padding: 0;
        margin: 1em;
    }
}